body{
 background-color: hsl(223, 77%, 12%);
}

h1 {
 text-align: center;
 border-bottom-style: solid;
 color: hsl(34, 89%, 48%);
}

h2 {
 font-family: fantasy;
 border-bottom-style: dotted;
 color: hsl(48, 89%, 48%);

}

p {
 font-family: sans-serif;
 color: hsl(48, 89%, 48%);
}

li {
 font-family: sans-serif;
 color: hsl(48, 89%, 48%);
}

img {
 height: 200px;
}

ul {
 list-style-type: circle;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

nav {
 display:flex;
 background-color:red;
}

nav a {
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

nav a:hover:not(.active) {
 background-color: hsl(223, 77%, 12%);
}

.active {
 background-color: hsl(223, 77%, 12%);
}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}
